<!doctype HTML>
<html>
    <head>
        <%- include("../head.ejs") %>
        <title>Members - Tsukuyomi</title>
        <link rel="stylesheet" href="../global-style.css">
    </head>
    <body>
      <center id="Members">
        <h1>Members</h1>
      </center>
      <script>const membersData="<%- include("./members.json") %>"</script>
    </body>
</html>
