<!doctype HTML>
<html>
    <head>
        <%- include("../head.ejs") %>
        <title>Members -Tsukuyomi</title>
        <link rel="stylesheet" href="../global-style.css">
    </head>
    <body>
        <h1>Members</h1>
        
    </body>
</html>
