<!DOCTYPE HTML>
<html>
    <head>
        <%- include("head.ejs") %>
        <link rel="stylesheet" href="style.css">
        <title>Not Found -Tsukuyomi</title>
    </head>
    <body>
        <h1>404 Not Found</h1>
        <p>お探しのページは見つかりませんでした</p>
    </body>
</html>
