<style>
    #header-main{
        width:100%;
        height:2rem;
        position: fixed;
        top:0;
        left:0;
        background-color: rgb(125, 253, 153);
        z-index: 100;
    }
</style>
<div id='header-main'>
    <a href="https://hacker-s-official.github.io/mainpage" style="color:#000">Tsukuyomi</a>
    <botton>Dark</botton>
<script>

</script>
