body {
    background-color:rgb(0, 0, 0);
}

#main-title{
    color:rgb(45, 218, 241);
    font-size:3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#title-zone{
    background-color:rgb(0, 0, 0);
    width: 100%;
    height:100vh;
}
#scroll-to{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:70vh;
}
#main-let{
    margin: 8px;
}
#main-let h2 {
    text-align: center;
    padding-top: 20vh;
    /* padding-bottom: 20vh; */
}
#about{
    color:rgb(45, 218, 241);
    padding-left:2rem;
    overflow-wrap:break-word;
    text-align: center;
}
h2 {
    color:rgb(45, 218, 241);
}